<header>
  <nav>
    <a href="/">Home</a>
    <% if (!user) { %>
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Sign Up</a>
    <% } else { %>
      <p>WELCOME</p>
      <%= user.username %>
      <a href="/auth/log-out">Logout</a>
    <% } %>
  </nav>
</header>